.image-grid {
  background-color: #0D0F11;
  padding-top: 50px;
  padding-left: 10px;
  padding-bottom: 0px;
  margin-bottom: 0px;
  display: flex;
  flex-wrap: wrap; 
  justify-content: space-between; 
}

.image-1-container img {
  width: 185px;
  height: 350px;
  position: relative;
  left: -1px;
  top: 10px;
}

.image-2-container img {
  width: 234px;
  height: 143px;
  position: relative;
  left: -42px;
  top: 10px;
}

.image-3-container img {
  width: 234px;
  height: 195px;
  position: relative;
  left: -330px;
  top: 165px;
}

.image-4-container img {
  width: 194px;
  height: 564px;
  position: relative;
  left: -370px;
  top: 10px;
}

.image-5-container img {
  width: 190px;
  height: 285px;
  position: relative;
  left: -410px;
  top: 10px;  
}

.image-6-container img {
  width: 250px;
  height: 148px;
  position: relative;
  right:-500px;
  left:848px;
  bottom: 558px; 
}

.image-7-container img {
  width: 250px;
  height: 403px;
  position: relative;
  left: 598px;
  bottom:398px;  
}

.image-8-container img {
  width: 190px;
  height: 270px;
  position: relative;
  left: 142px;
  top: -265px;  
}

.image-9-container img {
  width: 431px;
  height: 201px;
  position: relative;
  left: -698px;
  top: -194px  
}

.image-10-container img {
  width: 120px;
  height: 280px;
  position: relative;
  left: -14px;
  top: -270px;  
}

.image-11-container img {
  width: 120px;
  height: 280px;
  position: relative;
  left: 1110px;
  top: -964px; 
}

.image-grid img:not(.image-9) {
  transition: transform 0.3s ease; 
}

.image-grid img:not(.image-9):hover {
  transform: scale(1.05); 
  cursor: pointer;        
}

.see-more-button {
  position: relative;
  top:-520px;
  right:1000px;
  width: 125px;     
  height: 60px; 
  border:none;
  display: flex;                  
  justify-content: center;        
  align-items: center;
  background: #66666636;
  color: #ffffff; 
  font-size: 20px; 
  cursor: pointer;                
  transition: all 0.3s ease;
}

.arrow-icon {
  width: 16px; 
  height:5px;
  position: relative;
  top:20px;
  right:50px;
}

.see-more-button:hover {                
  transform: scale(1.05);                  
}




