@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant:wght@100;200;300;400;500;600;700&display=swap');

.pricing-card {
    background: #5F5D5D1F;
    color: white;
    text-align: center;
    padding: 20px;
    margin-left: 0px; 
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 400px;
    height:500px;
    transition: all 0.3s ease;
    box-sizing: border-box;
  }
  
  .title {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 5px;
    font-family: 'Lato', sans-serif;
  }
  
  .price {
    font-size: 23px;
    font-weight: 400;
    margin-bottom: 20px;
    margin-bottom: 0px;
    font-family: 'Cormorant', serif; 
  }
  
  .details {
    margin-bottom: 60px;
  }
  
  .detail-item {
    display: flex;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: 500;
    justify-content: space-between;
    font-size: 16px;
    margin: 10px 0;
    line-height: 55px;
  }
  
  .schedule-btn {
    background-color: #5F5D5D1F;
    color: white;
    padding: 10px 20px;
    border: 2px solid white; 
   
    cursor: pointer;
    font-size: 16px;
}

.pricing-card:hover {
    border: 5px solid #233942; 
    border-radius: 0; 
    transform: scale(1.05); 
}
  
 
  