.portfolio-header {
    background: #0D0F11;
    padding-top: 1px; 
  }
  
.portfolio-title {
    font-family: 'Cormorant', serif; 
    font-size: 60px;
    font-weight: 200;
    color: rgb(255, 255, 255);
    text-align: right;
    padding-right: 5rem; 
  }
  
.portfolio-categories {
    display: flex;
    justify-content: right;
    gap:60px;
    padding-right: 5rem;
    margin-top: 20px;  
  }
  
.portfolio-item {
    font-family: 'Cormorant', serif;
    font-size: 25px;
    color: #898D92; 
    cursor: pointer;
   
  }

  .portfolio-item:hover {
    color: white; 
  }
  